.grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap: 10px;
    
}
@media screen and (max-width:500px) {
    .grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap: 10px;
    
}
}